---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/carousel.html height=800 %}
    
  </div>
  <div class="col-md-4">  

    {% include index/description.html%}

    {% include index/time.html %}

    {% include index/featured-terms.html field="attendees" title="Most Frequent Council Members" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>